<div class="app-container">
  <div *ngIf="isLoading()" class="loading-overlay">
    <div class="loading-content">
      <mat-progress-spinner mode="indeterminate" diameter="60"></mat-progress-spinner>
      <p>Cargando, por favor espera...</p>
    </div>
  </div>

  <header class="app-header">
    <h1>Lista de Héroes</h1>
    <nav class="app-nav">
      <a routerLink="/" routerLinkActive="active">Lista de Héroes</a>
      <a routerLink="/add" routerLinkActive="active">Agregar Héroe</a>
    </nav>

  </header>

  <main class="app-main">
    <router-outlet></router-outlet>
  </main>
</div>
